{% extends "base.html" %}

{% block content %}
<div class="container">

<fieldset>
    <legend class="center">Saisie d'un nouveau créneau montoir prévisionnel</legend>
<form role="form" name="form" action="/monte/create/montoir" method="post" enctype="multipart/form-data" >
 {% csrf_token %}
 {% for field in form %}
 <div class="center div-input">

     {{field}}
 </div>
{% endfor %}
<div class="center">

    <button type="submit" class="btn btn-primary"> Valider</button>
    <button type="button" class="btn btn-inverse"> Annuler</button>
</div>
</form>

</fieldset>
</div>
{% endblock %}
