{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <fieldset>

        <legend class="text-center">Liste des soins effectués</legend>
        <p><a class="btn btn-default" href="/sante/creer">Nouveau</a></p>

        <table id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center col-xs-2">Date</th>
                    <th class="text-center col-xs-2">Cheval</th>
                    <th class="text-center col-xs-2">Pathologie</th>
                    <th class="text-center col-xs-2">Acte</th>
                    <th class="text-center col-xs-2">Soigneur</th>
                    <th class="text-center col-xs-2">Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Cheval</th>
                    <th class="text-center">Pathologie</th>
                    <th class="text-center">Acte</th>
                    <th class="text-center">Soigneur</th>
                    <th class="text-center">Actions</th>
                </tr>
            </tfoot>
            <tbody>
                {% for soin in soins %}
                <tr>
                    <td>{{ soin.date }}</td>
                    <td>{{ soin.cheval.nom }}</td>
                    <td>{{ soin.pathologie }}</td>
                    <td>{{ soin.get_acte_display }}</td>
                    <td>{{ soin.soigneur }}</td>
                    <td class="text-center">
                        <a href="/sante/{{soin.id}}"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/sante/{{soin.id}}/modifier"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/sante/{{soin.id}}/supprimer"><i class="fa fa-times"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </fieldset>
</div>

{% endblock %}
