{% extends "base.html" %}

{% block content %}

<fieldset>

    <legend class="center">Liste des soins effectués</legend>
    <a class="btn btn-default" href="/sante/creer">Nouveau</a>

    <table class="table table-bordered table-hover">
        <tr>
            <th class="large15 center">Date</th>
            <th class="center">Cheval</th>
            <th class="center">Pathologie</th>
            <th class="center">Acte</th>
            <th class="center">Soigneur</th>
        </tr>
        {% for soin in soins %}
        <tr>
            <td>{{ soin.date }}</td>
            <td class="large15">{{ soin.cheval.nom }}</td>
            <td class="large30">{{ soin.pathologie }}</td>
            <td class="large10">{{ soin.get_acte_display }}</td>
            <td class="large20">{{ soin.soigneur }}</td>
        </tr>
        {% endfor %}
    </table>








    <ul>
        {% for soin in soins %}
            <li><a href="/sante/{{soin.id}}">{{ soin.date }}, {{ soin.pathologie }}, {{ soin.cheval.nom }}</a></li>
        {% endfor %}
    </ul>
</fieldset>
{% endblock %}
