{% extends "base.html" %}

{% block title %}Liste des soins effectués{% endblock %}

{% block content %}

<div class="container-fluid">
    {% if user.is_authenticated and perms.profil.chef_ecurie %}
    <fieldset>

        <legend class="text-center">Saisie d'un soin</legend>

        <form class="form-inline" action="{% url 'soin_create' %}" method="POST">
            {% csrf_token %}
            {% for field in form %}
            {{ field.label_tag }}
            {{ field }}
            {{ field.errors }}
            {% endfor %}
            <td><button class="btn btn-default" type="submit">Créer</button></td>
        </form>

    </fieldset>
    {% endif %}

    <fieldset>

        <legend class="text-center">Liste des soins effectués</legend>

        <table id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center col-xs-2">Date</th>
                    <th class="text-center col-xs-2">Cheval</th>
                    <th class="text-center col-xs-2">Pathologie</th>
                    <th class="text-center col-xs-2">Acte</th>
                    <th class="text-center col-xs-2">Soigneur</th>
                    {% if user.is_authenticated and perms.profil.chef_ecurie %}
                    <th class="text-center col-xs-2">Actions</th>
                    {% endif %}
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th class="text-center">Date</th>
                    <th class="text-center">Cheval</th>
                    <th class="text-center">Pathologie</th>
                    <th class="text-center">Acte</th>
                    <th class="text-center">Soigneur</th>
                    {% if user.is_authenticated and perms.profil.chef_ecurie %}
                    <th class="text-center">Actions</th>
                    {% endif %}
                </tr>
            </tfoot>
            <tbody>
                {% for soin in soins %}
                <tr>
                    <td>{{ soin.date }}</td>
                    <td>{{ soin.cheval.nom }}</td>
                    <td>{{ soin.pathologie }}</td>
                    <td>{{ soin.get_acte_display }}</td>
                    <td>{{ soin.soigneur }}</td>
                    {% if user.is_authenticated and perms.profil.chef_ecurie %}
                    <td class="text-center">
                        <a href="{% url 'soin_update' soin.pk %}"><i class="fa fa-pencil"></i></a>
                    </td>
                    {% endif %}
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </fieldset>
</div>

{% endblock %}
