{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Enregistrer un nouveau Profil{% endblock %}
{% block content %}

<div class="container">
    <fieldset>
        <legend class="text-center">Fiche Création de Profil</legend>

        <p><a href="{% url 'cheval_list' %}"><i class="fa fa-arrow-left"></i> Retour</a></p>
        <form action="{{ request.path }}" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group row">
                <div class="col-sm-1 col-sm-offset-2">
                    {{ field.label_tag }}
                </div>
                <div class="col-sm-7">
                    {{ field }}
                    {{ field.errors }}
                    {% if field.help_text %}
                    {{ field.help_text }}
                    {% endif %}
                </div>
            </div>
            {% endfor %}
            <hr>
            {{profilline_formset.management_form}}
            {% for field in profilline_formset %}
            <div class="profil_line">
                <div class="form-group row perm categorie">
                    <div class="col-sm-1 col-sm-offset-2">
                        {{ field.categorie.label_tag }}
                    </div>
                    <div class="col-sm-7">
                        {{ field.categorie.errors }}
                        {{ field.categorie }}
                    </div>
                </div>
                <div class="form-group row perm public">
                    <div class="col-sm-1 col-sm-offset-2">
                        {{ field.public.label_tag }}
                    </div>
                    <div class="col-sm-7">
                        {{ field.public.errors }}
                        {{ field.public }}
                    </div>
                </div>
                <div class="form-group row perm license">
                    <div class="col-sm-1 col-sm-offset-2">
                        {{ field.license.label_tag }}
                    </div>
                    <div class="col-sm-7">
                        {{ field.license.errors }}
                        {{ field.license }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1 col-sm-offset-2">
                        {{ field.debut.label_tag }}
                    </div>
                    <div class="col-sm-7 debut">
                        {{ field.debut.errors }}
                        {{ field.debut }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1 col-sm-offset-2">
                        {{ field.fin.label_tag }}
                    </div>
                    <div class="col-sm-7 fin">
                        {{ field.fin.errors }}
                        {{ field.fin }}
                    </div>
                </div>
            </div>
                {% endfor %}
            <div class="row">
                <div class="col-sm-1 col-sm-offset-5">
                    <p><button class="btn btn-success" type="submit">Enregistrer</button></p>
                </div>
            </div>
        </form>

    </fieldset>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    $(function() {
     $('.profil_line').formset({
         deleteText: '<i class="fa fa-trash"></i>',
         addText: '<i class="fa fa-plus"></i>',
         prefix: '{{ InvoiceLine_FormSet.prefix }}',
        //  added: dinamifyLines
     });
     var debut = $("input[id$='debut']");
     var fin = $("input[id$='fin']");
     $(debut).datepicker({
        weekStart: 1
    });
    $(fin).datepicker({
       weekStart: 1
   });
    //  function dinamifyLines() {
    //      $('.profil_line select').change(function(event) {
    //          var date = $(this).siblings("input[id$='debut']")
    //          var dates = new Date(date.val());
    //          console.log(dates);
    //          });
    //      };
    //  dinamifyLines()
    })
</script>

{% endblock %}
