{% extends "base.html" %}
{% load staticfiles %}
{% block title %}Enregistrement d'un nouveau Profil{% endblock %}
{% block content %}

<!-- <div class="container">
    <fieldset>
        <legend class="text-center">Fiche Création de Profil</legend>

        <p><a href="{% url 'list_profil' %}"><i class="fa fa-arrow-left"></i> Retour</a></p>
        <form action="{{ request.path }}" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group row">
                <div class="col-sm-1 col-sm-offset-2">
                    {{ field.label_tag }}
                </div>
                <div class="col-sm-7">
                    {{ field }}
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}
            <hr>
            {{profilline_formset.management_form}}
            {% for field in profilline_formset %}
            <div class="profil_line">
                <div class="form-group row perm categorie">
                    <div class="col-sm-1 col-sm-offset-2">
                        {{ field.categorie.label_tag }}
                    </div>
                    <div class="col-sm-7">
                        {{ field.categorie.errors }}
                        {{ field.categorie }}
                    </div>
                </div>
                <div class="form-group row perm public">
                    <div class="col-sm-1 col-sm-offset-2">
                        {{ field.public.label_tag }}
                    </div>
                    <div class="col-sm-7">
                        {{ field.public.errors }}
                        {{ field.public }}
                    </div>
                </div>
                <div class="form-group row perm license">
                    <div class="col-sm-1 col-sm-offset-2">
                        {{ field.license.label_tag }}
                    </div>
                    <div class="col-sm-7">
                        {{ field.license.errors }}
                        {{ field.license }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1 col-sm-offset-2">
                        {{ field.debut.label_tag }}
                    </div>
                    <div class="col-sm-7 debut">
                        {{ field.debut.errors }}
                        {{ field.debut }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-sm-1 col-sm-offset-2">
                        {{ field.fin.label_tag }}
                    </div>
                    <div class="col-sm-7 fin">
                        {{ field.fin.errors }}
                        {{ field.fin }}
                    </div>
                </div>
            </div>
                {% endfor %}
            <div class="row">
                <div class="col-sm-1 col-sm-offset-5">
                    <p><button class="btn btn-success" type="submit">Enregistrer</button></p>
                </div>
            </div>
        </form>

    </fieldset>
</div> -->

<div class="container-fluid">
    <fieldset>
        <legend class="text-center">Enregistrement d'un nouveau Profil</legend>
        <form action="{{ request.path }}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group row">
                <div class="col-xs-12 col-md-4 col-md-offset-4">
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
                </div>
            </div>
            {% endfor %}
            <hr>
            {{profilline_formset.management_form}}
            {% for field in profilline_formset %}
            <div class="profil_line">
                <div class="form-group row perm categorie">
                    <div class="col-xs-12 col-md-4 col-md-offset-4">
                        {{ field.categorie.label_tag }}
                        {{ field.categorie.errors }}
                        {{ field.categorie }}
                    </div>
                </div>
                <div class="form-group row perm public">
                    <div class="col-xs-12 col-md-4 col-md-offset-4">
                        {{ field.public.label_tag }}
                        {{ field.public.errors }}
                        {{ field.public }}
                    </div>
                </div>
                <div class="form-group row perm license">
                    <div class="col-xs-12 col-md-4 col-md-offset-4">
                        {{ field.license.label_tag }}
                        {{ field.license.errors }}
                        {{ field.license }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-md-4 col-md-offset-4">
                        {{ field.debut.label_tag }}
                        {{ field.debut.errors }}
                        {{ field.debut }}
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col-xs-12 col-md-4 col-md-offset-4">
                        {{ field.fin.label_tag }}
                        {{ field.fin.errors }}
                        {{ field.fin }}
                    </div>
                </div>
            </div>
                {% endfor %}
            <div class="row">
                <div class="col-xs-12 col-md-4 col-md-offset-4">
                    <p><button class="btn btn-success btn-block" type="submit">Enregistrer</button></p>
                    <p><button class="btn btn-default btn-block" type="reset">Vider les champs</button></p>
                    <p class="text-center"><a type="button" class="btn btn-primary"href="{% url 'list_profil' %}"><i class="fa fa-arrow-left"></i> Retour</a></p>
                </div>
            </div>
        </form>

    </fieldset>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery.formset.js' %}"></script>
<script type="text/javascript">
    var debut = $("input[id$='debut']");
    var fin = $("input[id$='fin']");
    $(debut).datepicker({
        weekStart: 1
    });
    $(fin).datepicker({
        weekStart: 1
    });

    var permis    = $('#id_permis');
    var perms     = $('.perm');
    var actif     = $('#id_profil_actif');
    var categorie = $("[id$='categorie']");
    var license   = $("[id$='license']");
    var publi     = $("[id$='public']");

    license.parent().parent().hide();
    permis.parent().parent().hide();

    if (actif.is(":checked")) {
        permis.parent().parent().show();
    }
    actif.change(function() {
        if (this.checked){
            permis.parent().parent().show();
            $('#id_permis').val(1);
            categorie.val(3);
            perms.hide();
         }else{
            permis.parent().parent().hide();
            $('#id_permis').val(0);
            categorie.val(0);
            perms.show();
            license.parent().parent().hide();
         }
    });

    permis.change(function() {
        var perm = $('#id_permis option:selected').text();
        if (perm === "Professeur") {
            categorie.val(3);
        }else if(perm === "Chef d'écurie"){
            categorie.val(4);
        }else{
            categorie.val(0);
        }
    });

    categorie.change(function() {
        var cat = $("[id$='categorie'] option:selected").text();
        if (cat === "Cavalier") {
            publi.val(2);
            license.parent().parent().show();
        }else if(cat === "Elève"){
            publi.val(1);
            license.parent().parent().hide();
        }else{
            publi.val(0);
            license.parent().parent().hide();
        }
    });

    publi.change(function() {
        var pub = $("[id$='public'] option:selected").text();
        if (pub === "Club") {
            license.parent().parent().show();
        }else{
            license.parent().parent().hide();
        }
    });

    $(function reloadForm() {
        $('input').addClass('form-control');
        $('select').addClass('form-control');
        $('#id_profil_actif').removeClass('form-control');
        $('#id_profil_actif').addClass('checkbox');
    })
    $(function() {
        $('.profil_line').formset({
            deleteText: '<i class="fa fa-trash"></i>',
            addText: '<i class="fa fa-plus"></i>',
            prefix: '{{ profilline_formset.prefix }}',
        });reloadForm()

    })
</script>

{% endblock %}
