{% extends "base.html" %}
{% load staticfiles %}
{% block content %}
<div class="row">
    <div class="col-md-6">
        <fieldset>
            <legend>Fiche Profil</legend>
           <form class="" action="{{ request.path }}" method="post">
                {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            {{field.label_tag}}
                        </div>
                        <div class="col-md-10">
                            {{field}}
                            {{field.errors}}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {{profilline_formset.management_form}}
                {% for field in profilline_formset%}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            {{field.label_tag}}
                        </div>
                        <div class="col-md-10">
                            {{field}}
                            {{field.errors}}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div id="btn-profil">
                    <input id="btn-valid-profil" type="submit" name="name" value="Envoyer">
                </div>
            </form>
        </fieldset>
    </div>
</div>

<script type="text/javascript" src="{% static 'js/script.js' %}"></script>

<!-- <script type="text/javascript">
    var permis = $('#id_permis').parent().parent();
    var actif  = $('#id_profil_actif')
    if (actif.checked) {
        alert("checked");
        permis.show();
    }else{
        permis.hide()
    }
</script> -->

{% endblock %}
