{% extends "base.html" %}
{% load phonenumber_filters %}

{% block content %}
<div class="container">
    <fieldset>
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2">
                <table class="table">
                    <caption class="text-center"><h1>Profil de {{ profil.get_civilite_display }} {{ profil.nom }} {{ profil.prenom }}</h1></caption>
                    <tr>
                        <td style="width:50%"><a type="button" class="btn btn-primary pull-left"href="{% url 'list_profil' %}"><i class="fa fa-arrow-left"></i> Retour</a></td>
                        {% if user.is_authenticated and perms.profil.chef_ecurie %}
                        <td class=""><a type="button" class="btn btn-primary pull-right"href="{% url 'profil_update' profil.id %}"><i class="fa fa-pencil-square-o fa-2x"></i></a></td>
                        {% endif %}
                    </tr>
                </table>

                <table class="table table-striped table-hover table-bordered">
                    {% if profil.nom %}
                    <tr>
                        <td style="width:50%; font-weight:bold">Nom:</td>
                        <td class="">{{profil.nom}}</td>
                    </tr>
                    {% endif %}
                    {% if profil.prenom %}
                    <tr>
                        <td style="width:50%; font-weight:bold">Prénom:</td>
                        <td class="">{{profil.prenom}}</td>
                    </tr>
                    {% endif %}
                    {% if profil.email %}
                    <tr>
                        <td style="width:50%; font-weight:bold">Email:</td>
                        <td class=""><a href="mailto:{{profil.email}}">{{profil.email}}</a></td>
                    </tr>
                    {% endif %}
                    {% if profil.adresse %}
                    <tr>
                        <td style="width:50%; font-weight:bold">Adresse:</td>
                        <td class="">{{profil.adresse}}, {{profil.cp}} {{profil.ville}}</td>
                    </tr>
                    {% endif %}
                    {% if profil.tel_1 %}
                    <tr>
                        <td style="width:50%; font-weight:bold">Tel 1:</td>
                        <td class="">{{profil.tel_1|phonenumber:"FR"}}</td>
                    </tr>
                    {% endif %}
                    {% if profil.tel_2 %}
                    <tr>
                        <td style="width:50%; font-weight:bold">Tel 2:</td>
                        <td class="">{{profil.tel_2|phonenumber:"FR"}}</td>
                    </tr>
                    {% endif %}
                    {% if profil.tel_3 %}
                    <tr>
                        <td style="width:50%; font-weight:bold">Tel 3:</td>
                        <td class="">{{profil.tel_3|phonenumber:"FR"}}</td>
                    </tr>
                    {% endif %}


                    <tr>
                        <td style="width:50%; font-weight:bold">Catégorie:</td>
                        <td class="">
                        {% for periode in profil.periode_set.all %}
                                {{periode.get_categorie_display}}{% if not forloop.last%},{%endif%}
                        {% endfor %}
                        </td>
                    </tr>
                    <tr>
                        <td style="width:50%; font-weight:bold">Classe:</td>
                        <td class="">
                        {% for periode in profil.periode_set.all %}
                                {{periode.public.nom}}{% if not forloop.last%},{%endif%}
                        {% endfor %}
                        </td>
                    </tr>

                    {% for periode in profil.periode_set.all %}
                    {% if periode.license %}
                    <tr>
                        <td style="width:50%; font-weight:bold">License:</td>
                        <td class="">
                            {{periode.license}}
                        </td>
                    </tr>
                    {% endif %}
                    {% endfor %}

                    {% for periode in profil.periode_set.all %}
                    <tr>
                        {% if forloop.first%}
                        <td style="width:50%; font-weight:bold" rowspan="{{profil.periode_set.count}}">Date d'entrée:</td>
                        {% endif %}
                        <td class="date-profil">
                                {{periode.get_categorie_display}} : {{periode.debut|date:"d M Y"}}
                        </td>
                    </tr>
                    {% endfor %}

                    {% for periode in profil.periode_set.all %}
                    {% if periode.fin %}
                        <tr>
                            {% if forloop.first%}
                            <td style="width:50%; font-weight:bold" rowspan="{{profil.periode_set.count}}">Date de sortie:</td>
                            {% endif %}
                            <td class="">
                                {{periode.get_categorie_display}} : {{periode.fin|date:"d M Y"}}
                            </td>
                        </tr>
                        {% endif %}
                        {% endfor %}
                </table>
            </div>
        </div>
    </fieldset>
</div>
{% endblock %}
