{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <fieldset>
            <legend>
                <a class="btn btn-default" href="/profil/edit">nouveau</a>
                 Liste des Profils
                 <div class="choix-profil">
                     <input type="checkbox" name="cb-eleve" value="1"> Elève
                     <input type="checkbox" name="cb-cavalier" value="3"> Cavalier
                     <input type="checkbox" name="cb-professeur" value="2"> Professeur
                     <input type="checkbox" name="cb-personnel" value="4"> Personnel
                 </div>
             </legend>
            <ul>
                {% for profil in profils %}
                <li><a href="{{profil.id}}">{{profil.nom}} {{profil.prenom}}</a></li>
                {% endfor %}
            </ul>

        </fieldset>
    </div>
</div>
{% endblock %}
