{% extends "base.html" %}
{% load phonenumber_filters %}
{% block content %}
{% url 'list_profil' as list_profil %}
{% if request.get_full_path == list_profil %}
<div class="container">
    <div class="row">
        <table class="table table-bordered table-hover">
            <caption class="text-center"><h1>Profiles</h1></caption>
            <thead>
                <tr>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Prénom</th>
                    <th class="text-center">Adresse</th>
                    <th class="text-center">Email</th>
                    <th class="text-center">Tel</th>
                    <!-- <th class="text-center">License</th>
                    <th class="text-center">Catégorie</th>
                    <th class="text-center">Classe</th>
                    <th colspan="2" class="text-center">Période</th> -->
                    <th class="text-center">Visualisation</th>
                    <th class="text-center">Edition</th>
                </tr>
            </thead>
            <tbody>
                {% for profil in profils %}
                <tr>
                    <td class="text-center">{{profil.nom}}</td>
                    <td class="text-center">{{profil.prenom}}</td>
                    <td class="text-center">{{profil.adresse}} {{profil.cp}}, {{profil.ville}}</td>
                    <td class="text-center">{{profil.email}}</td>
                    <td class="text-center">{{profil.tel_1|phonenumber:"FR"}}</td>
                    <!-- {% for per in periodes %}
                    {% if per.profil.id == profil.id %}
                    <td class="text-center">{{per.license}}</td>
                    <td class="text-center">{{per.get_categorie_display}}</td>
                    <td class="text-center">{{per.public.nom}}</td>
                    <td colspan="1" class="text-center">
                        {{per.debut|date:"d M Y"}}</td>
                        <td colspan="1" class="text-center">
                        {% if per.fin %}
                            {{per.fin|date:"d M Y"}}
                        {% endif %}
                    </td>
                    {% endif %}
                    {% endfor %} -->

                    <td class="text-center"><a href="{% url 'detail_profil' profil.id %}"><i class="fa fa-eye fa-2x" aria-hidden="true"></a></i></td>
                    <td class="text-center"><a href="{% url 'profil_update' profil.id %}"><i class="fa fa-pencil-square-o fa-2x" aria-hidden="true"></a></i></td>
                    {% endfor %}
                </tr>
            </tbody>
        </table>
    </div>
    <div class="row">
        <a class="btn btn-default" href="/profil/create">Nouveau</a>
    </div>
</div>
{% endif %}
{% endblock %}
