{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <fieldset>
            <legend>
                <a class="btn btn-default" href="/profil/public/edit">nouveau</a>
                 Liste des Publics
             </legend>
            <ul>
                {% for public in publics %}
                <li><a href="{{public.id}}">{{public.nom}}</a></li>
                {% endfor %}
            </ul>

        </fieldset>
    </div>
</div>
{% endblock %}
