{% extends "base.html" %}
{% block content %}
        <fieldset>
            <legend>Fiche de {{ profil.nom }} {{ profil.prenom }}</legend>
           <form class="" action="{{ request.path }}" method="post">
                {% csrf_token %}
                {% for field in form%}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-1">
                            {{field.label_tag}}
                        </div>
                        <div class="col-md-10">
                            {{field}}
                            {{field.errors}}
                        </div>
                    </div>
                </div>
                {% endfor %}
                {{periodes.management_form}}
                {% for periode in periodes %}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-1">
                            {{periode.label_tag}}
                        </div>
                        <div class="col-md-10">
                            {{periode}}
                            {{periode.errors}}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div id="btn-profil">
                    <input id="btn-valid-profil" type="submit" name="name" value="Envoyer">
                </div>
            </form>
        </fieldset>
{% endblock %}
