{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <fieldset>

        <legend class="text-center">Registre d'élevage</legend>
        <p><a class="btn btn-default" href="/cheval/creer">Nouveau</a></p>

        <table id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center col-xs-2">Nom</th>
                    <th class="text-center col-xs-2">Aptitude</th>
                    <th class="text-center col-xs-2">Emplacement</th>
                    <th class="text-center col-xs-2">Dernier ferrage</th>
                    <th class="text-center col-xs-2">Dernière vermifugation</th>
                    <th class="text-center col-xs-2">Dernier soin</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th class="text-center">Nom</th>
                    <th class="text-center">Aptitude</th>
                    <th class="text-center">Emplacement</th>
                    <th class="text-center">Dernier ferrage</th>
                    <th class="text-center">Dernière vermifugation</th>
                    <th class="text-center">Dernier soin</th>
                </tr>
            </tfoot>
            <tbody>
                {% for cheval in chevaux %}
                <tr>
                    <td>{{ cheval.nom }}</td>
                    <td>{{ cheval.get_aptitude_display }}</td>
                    <td>{{ cheval.emplacement }}</td>
                    <td>{{ ferrage.date }}</td>
                    <td>{{ vermifugation.date }}</td>
                    <td>{{ soins.date }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </fieldset>
</div>

{% endblock %}
