{% extends "base.html" %}

{% block content %}
<fieldset>
    <legend>Enregistrer un nouveau cheval</legend>
    <form action="{{ request.path }}" method="POST">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
            <div class="row">
                <div class="col-md-2">
                    {{ field.label_tag }}
                </div>
                <div class="col-md-10">
                    {{ field }}
                    {{ field.errors }}
                    {% if field.help_text %}
                    {{ field.help_text }}
                    {% endif %}
                </div>
            </div>
        </div>
        {% endfor %}
        <button class="btn btn-success" type="submit">Enregistrer</button>
        <a href="/cheval">Retour</a>
    </form>
</fieldset>
{% endblock %}
