{% extends "base.html" %}

{% block title %}Fiche de {{ cheval.nom }}{% endblock %}

{% block content %}

<div class="container-fluid">
    <fieldset>

        <legend class="text-center">Fiche de {{ cheval.nom }}</legend>

        <div class="row">
            <div class="col-xs-12 col-md-6 col-md-push-6">
                <img alt="Photo du cheval" src="/media/{{cheval.photo}}" class="img-responsive" />
            </div>
            <div class="col-xs-12 col-md-6 col-md-pull-6">
                <p>Nom : {{ cheval.nom }}</p>
                <p>N° sire : {{ cheval.sire }}</p>
                <p>Race : {{ cheval.race }}</p>
                <p>Pedigree : {{ cheval.pedigree }}</p>
                <p>Année de naissance : {{ cheval.annee_naissance }}</p>
                <p>Date d'entrée : {{ cheval.date_entree }}</p>
                <p>Date de sortie : {{ cheval.date_sortie }}</p>
                <p>Activité : {{ cheval.get_activite_display }}</p>
                <p>Remarques : {{ cheval.remarques }}</p>
                <p>Statut : {{ cheval.get_statut_display }}</p>
                <p>Aptitude : {{ cheval.get_aptitude_display }}</p>
                <p>Emplacement (zone) : {{ cheval.emplacement.zone }}</p>
                <p>Emplacement (box) : {{ cheval.emplacement.box }}</p>

                {% if user.is_authenticated and perms.profil.chef_ecurie %}
                <p><a class="btn btn-default" href="{% url 'cheval_update' cheval.pk %}">Modifier</a></p>
                {% endif %}
                <p><a href="{% url 'cheval_list' %}"><i class="fa fa-arrow-left"></i> Retour</a></p>
            </div>
        </div>

    </fieldset>
</div>

{% endblock %}
