{% extends "base.html" %}

{% block title %}Emplacement {{ emplacement.box }}{% endblock %}

{% block content %}

<div class="container-fluid">
    <fieldset>

        <legend class="text-center">Emplacement {{ emplacement.box }}</legend>

        <p>Zone : {{ emplacement.zone }}</p>
        <p>Box : {{ emplacement.box }}</p>

        {% if user.is_authenticated and perms.profil.chef_ecurie %}
        <p><a class="btn btn-default" href="{% url 'emplacement_update' emplacement.pk %}">Modifier</a></p>
        <p><a class="btn btn-danger" href="{% url 'emplacement_delete' emplacement.pk %}">Supprimer</a></p>
        {% endif %}
        <p><a href="{% url 'emplacement_list' %}"><i class="fa fa-arrow-left"></i> Retour</a></p>

    </fieldset>
</div>

{% endblock %}
