{% extends "base.html" %}

{% block title %}Supprimer l'emplacement{% endblock %}

{% block content %}

<div class="container">
    <fieldset>

        <legend class="text-center">Supprimer l'emplacement</legend>

        <p class="text-center">Voulez-vous supprimer cet emplacement ?</p>
        <form class="text-center" action="{{ request.path }}" method="POST">
            {% csrf_token %}
            <p><button class="btn btn-danger" type="submit">Supprimer</button></p>
            <p><a href="{% url 'emplacement_list' %}"><i class="fa fa-arrow-left"></i> Retour</a></p>
        </form>

    </fieldset>
</div>

{% endblock %}
