{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <fieldset>

        <legend class="text-center">Modifier l'emplacement {{ emplacement.box }}</legend>

        <form action="{{ request.path }}" method="POST">
            {% csrf_token %}
            {% for field in form %}
            <div class="form-group">
                <div class="row">
                    <div class="col-xs-6 col-md-3 col-md-offset-3">
                        {{ field.label_tag }}
                    </div>
                    <div class="col-xs-6 col-md-3">
                        {{ field }}
                        {{ field.errors }}
                        {% if field.help_text %}
                        {{ field.help_text }}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
            <div class="row">
                <div class="col-xs-6 col-md-3 col-md-offset-3">
                    <p><button class="btn btn-default" type="submit">Enregistrer</button></p>
                    <p><a href="/cheval/emplacement"><i class="fa fa-arrow-left"></i> Retour</a></p>
                </div>
            </div>
        </form>

    </fieldset>    
</div>

{% endblock %}
