{% extends "base.html" %}

{% block title %}Liste des emplacements{% endblock %}

{% block content %}

<div class="container-fluid">
    <fieldset>

        <legend class="text-center">Liste des emplacements</legend>
        <p><a class="btn btn-primary" href="{% url 'emplacement_create' %}">Nouveau</a></p>

        <table id="table" class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th class="text-center col-xs-4">Zone</th>
                    <th class="text-center col-xs-4">Box</th>
                    <th class="text-center col-xs-4">Actions</th>
                </tr>
            </thead>
            <tfoot>
                <tr>
                    <th class="text-center">Zone</th>
                    <th class="text-center">Box</th>
                    <th class="text-center">Actions</th>
                </tr>
            </tfoot>
            <tbody>
                {% for emplacement in emplacements %}
                <tr>
                    <td>{{ emplacement.zone }}</td>
                    <td>{{ emplacement.box }}</td>
                    <td class="text-center">
                        <a href="{% url 'emplacement_detail' emplacement.pk %}"><i class="fa fa-eye"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'emplacement_update' emplacement.pk %}"><i class="fa fa-pencil"></i></a>&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="{% url 'emplacement_delete' emplacement.pk %}"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

    </fieldset>
</div>

{% endblock %}
