<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">EPLEFPA</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
          {% if user.is_authenticated %}
        <li><a href="/users">Users</a></li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profils <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/profil">Fiche</a></li>
                <li><a href="/profil/public/list">Publics</a></li>
            </ul>
        </li>{% endif %}
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chevaux <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/cheval">Registre Elevage</a></li>
                <li><a href="/sante">Carnet de soins</a></li>
                <li><a href="/cheval/entrees_sorties">Entrées Sorties</a></li>
                <li><a href="/cheval/emplacement">Emplacement</a></li>
                <li><a href="/cheval/etat">Etat du cheval</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Monte <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/monte/list/montoir">Montoir</a></li>
                <li><a href="">Piquet Cours</a></li>
            </ul>
        </li>
        <li><a href="#">Club</a></li>
        <li><a href="#">Statistiques</a></li>
    </ul>
    <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>

    {% if user.is_authenticated %}
        <ul class="nav navbar-nav navbar-right">
            <li><a href="#">{{user.username}}</a> </li>
            <li><a href="/accounts/logout/">Déconnexion</a></li>
        </ul>
    {% else %}
         <ul class="nav navbar-nav navbar-right">
             <li class="connect"><a href="/accounts/login/">Se Connecter</a></li>
         </ul>
    {% endif %}

    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
