<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">EPLEFPA</a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <!-- <li><a href="#">Profils</a></li> -->
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profils <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/profil">Fiche</a></li>
                <li><a href="/profil/public/list">Publics</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Chevaux <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/cheval">Registre Elevage</a></li>
                <li><a href="/sante">Carnet de soins</a></li>
                <li><a href="/cheval/entrees_sorties">Entrées Sorties</a></li>
                <li><a href="/cheval/emplacement">Emplacement</a></li>
                <li><a href="/cheval/etat">Etat du cheval</a></li>
            </ul>
        </li>
        <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Monte <span class="caret"></span></a>
            <ul class="dropdown-menu">
                <li><a href="/monte">Montoir</a></li>
                <li><a href="">Piquet Cours</a></li>
            </ul>
        </li>
        <li><a href="#">Club</a></li>
        <li><a href="#">Statistiques</a></li>
      </ul>
      <form class="navbar-form navbar-right" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
