{% extends "base.html" %}

{% block content %}
<div class="row">
    <div class="col-md-6">
        <fieldset>
            <legend>Liste des Profils <a class="btn btn-default" href="/profil">nouveau</a></legend>
            <ul>
                {% for profil in profils %}
                <li><a href="/vue_profil/{{profil.id}}">{{profil.nom}}</a></li>
                {% endfor %}
            </ul>

        </fieldset>
    </div>
    <div class="col-md-6">
        <fieldset>
            <legend>Fiche Profil</legend>
           <form class="" action="{{ request.path }}" method="post">
                {% csrf_token %}
                {% for field in form%}
                <div class="form-group">
                    <div class="row">
                        <div class="col-md-2">
                            {{field.label_tag}}
                        </div>
                        <div class="col-md-10">
                            {{field}}
                            {{field.errors}}
                            {% if field.help_text %}
                            {{field.help_text}}
                            {% endif %}
                        </div>
                    </div>
                </div>
                {% endfor %}
                <div id="btn-profil">
                    Encadrant <input type="checkbox" name="check-encadrant" value="">
                    Soigneur <input type="checkbox" name="check-soigneur" value="">
                    Cavalier <input type="checkbox" name="check-cavalier" value="">
                    <input id="btn-valid-profil" type="submit" name="name" value="Envoyer">
                </div>
            </form>
        </fieldset>
    </div>
</div>

{% endblock %}
