{% extends "base.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-offset-5 col-md-3">
            <div class="form-signin-heading">
                    <h4>Connexion</h4>
                    <form class="" action="/accounts/login/" method="post">
                        {% csrf_token %}
                        {{ form.as_p }}                </br>
                <div class="wrapper">
                    <span class="group-btn">
                        <input type="submit" class="btn btn-primary btn-md" name="name" value="Valider" />
                        <input type="hidden" name="next" value="/" />
                    </span>
                    </form>
                </div>
            </div>

        </div>
    </div>
</div>

{% endblock %}
