
{% extends "base.html" %}

{% block content %}
<div class="table-user">
    <table class="table table-bordered table-hover">
        <tr>
            <th>Liste des personnes pouvant se connecter</th>
        </tr>
        {% for user in users %}
        {% if user.is_active %}
        <tr>
            <td title="Modifier"><a href="{% url 'profil_update' user.id %}">{{ user.profil.nom }} {{ user.profil.prenom }}</a></td>
        </tr>
        {% endif %}
        {% endfor %}
    </table>
    <a id="btn-nouveau" class="btn btn-default" href="{% url 'list_profil' %}">Nouveau</a>
</div>
{% endblock %}


{% comment %}
**registration/registration_form.html**
Used to show the form users will fill out to register. By default, has
the following context:

``form``
    The registration form. This will be an instance of some subclass
    of ``django.forms.Form``; consult `Django's forms documentation
    <http://docs.djangoproject.com/en/dev/topics/forms/>`_ for
    information on how to display this in a template.
{% endcomment %}
